input{
width: 15vw;
border-radius: 25%;
border: solid black 1px;
}

.App {
  text-align: center;
  width: 100vw;
}
img{
  width: 70vw;
  height: 30vh;
}
Button {
  margin: 0 5px 0 5px;
  
}
input {
  margin: 0 5px;
  text-align: center;
}

body{
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(230, 32, 45);
}
ul{
 list-style-type: none;

}
ul>li{
/* float: left; */
};
.result{
  display: inline;
}